@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  font-family: sans-serif;
}
  
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-container {
  animation: slideFromLeft 0.5s ease forwards;
}

.animation-right {
  animation: slideFromRight 0.5s ease forwards;
}
